/*******************************************************************************
Slate Theme for Github Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 10px;
  font-weight: 700;
  color:#222222;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
  text-align: center;
}

footer a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #4183c4;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

pre, code {
  padding: 8px 0 8px 20px !important;
  color: #fff;
  background-color: #222;

  font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
  font-size: 120%;
  margin: 20px 0;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,Times,"Times New Roman",'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
  font-size: 20px;
  color: #666;
  margin: 30px 0;
  padding: 0 20px;
}

blockquote .quote {
  margin: 8px 0;
}

blockquote .quote p {
  margin: 0 0 10px;
  line-height: 140%;
}

blockquote .quote .who {
  margin: 0;
  text-align: right;
  font-size: 80%;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 0 10px;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

#header_wrap {
  background: #000;
  background: url(../images/header-bg@2x.png);
  text-align: center;
  padding: 180px 0 100px;
}

#header_wrap .inner {
}

#header_wrap nav {
  margin-top: 40px;
}

#header_wrap nav ul {
  padding-bottom: 10px;
  margin: 0;
}

#header_wrap nav ul li {
  display: inline-block;
}

#header_wrap nav ul li:first-child {
  padding: 0;
}

#header_wrap nav ul li a {
  color: #a0a0a0;
  font-weight: bold;
  font-size: 130%;
}

#header_wrap nav ul li a:hover {
  color: #d0d0d0;
  text-decoration: underline;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding-bottom: 30px;
}

#footer_wrap {
  background: #212121;
  margin-top: 20px;
}

.gh-btn {
  text-align: right;
  float: right;
  margin-top: 32px;
}

section {
  padding-top: 10px !important;
}

.coming-soon {
  color: #eee;
  font-size: 120%;
  margin: 40px 0 0;
}

.quicklisp {
  font-size: 110%;
  font-weight: bold;
  font-family: Baskerville, "Baskerville Win95BT", "Times New Roman", Times, serif;
}

@-webkit-keyframes pulse {
 from { opacity: 1.0; }
 to { opacity: 0.4; }
}
@-moz-keyframes pulse {
 from { opacity: 1.0; }
 to { opacity: 0.4; }
}
@-o-keyframes pulse {
 from { opacity: 1.0; }
 to { opacity: 0.4; }
}
@-ms-keyframes pulse {
 from { opacity: 1.0; }
 to { opacity: 0.4; }
}
@keyframes pulse {
 from { opacity: 1.0; }
 to { opacity: 0.4; }
}
.blinking {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 0s;
  -moz-animation-name: pulse;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
  -moz-animation-delay: 0s;
  -o-animation-name: pulse;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  -o-animation-direction: alternate;
  -o-animation-delay: 0s;
  -ms-animation-name: pulse;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-direction: alternate;
  -ms-animation-delay: 0s;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 0s;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #header_wrap {
    padding: 40px 0 0;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }
  #project_title img {
    width: 200px;
    height: 50px;
  }

  #header_wrap nav {
    font-size: 80%;
    margin-top: 0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    max-width: 480px;
    font-size: 14px;
    padding-left: 8px !important;
  }

  blockquote {
    margin: 15px 0;
  }

  .gh-btn {
    margin-top: 27px;
  }

  .coming-soon {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 90%;
  }
}
